*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-block: 8px;
    background-color: rgb(144, 199, 118);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:oblique;
    font-size: 2.5rem;
    color: white;
}

.galeria{
    display: columns;
    columns: 3;
    text-align: center;
}

.galeria img{
    width: 100%;
    padding-block: 8px;
}

.galeria legenda{
    background-color: rgba(0, 0, 0, 0.544);
}